.navbar-toggle {
    display: none;
    outline: none;
    float: right;
    padding: 24px 8px;
    position: relative;
    border: solid 1px transparent;
    border-radius: 4px;
    background-color: transparent;
    background-image: none;
    cursor: pointer;
    
    .icon-bar {
        @include transition(.3s);
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        background-color: $icon-bar;
        & +.icon-bar {
            margin-top: 5px;
        } 
    }
    &:hover{
        
    }
    &.open{
        .icon-bar:nth-child(1){
            -webkit-transform: translate(-1px, 7px) rotate(-225deg);
            -moz-transform: translate(-1px, 7px) rotate(-225deg);
            -o-transform: translate(-1px, 7px) rotate(-225deg);
            -ms-transform: translate(-1px, 7px) rotate(-225deg);
            transform: translate(-1px, 7px) rotate(-225deg);
        }
        .icon-bar:nth-child(2){
            opacity: 0;
        }
        .icon-bar:nth-child(3){
            -webkit-transform: translate(-1px, -7px) rotate(225deg);
            -moz-transform: translate(-1px, -7px) rotate(225deg);
            -ms-transform: translate(-1px, -7px) rotate(225deg);
            -o-transform: translate(-1px, -7px) rotate(225deg);
            transform: translate(-1px, -7px) rotate(225deg);
        }
    }
    
    
}
.has-dropdown{
    position: relative;
    >a{
        &::after {
            content: "\f078";
            /* >> Name of the FA free font (mandatory)
                      - 'Font Awesome 5 Free' for Regular and Solid symbols;
                      - 'Font Awesome 5 Brand' for Brands symbols. */
            font-family: 'Font Awesome 5 Free';
            /* >> Weight of the font (mandatory)
                      - 400 for Regular and Brands symbols;
                      - 900 for Solid symbols. */
            font-weight: 900;
            /* >> Optional styling: */
            float: right;
            margin-left: 5px;
        }
    }
    &:hover,
    &:focus {
        .dropdown-menu{
            display: block;
            -webkit-transform: perspective(1200px) rotateX(0deg);
            transform: perspective(1200px) rotateX(0deg);
        }
    }
}
.dropdown-menu{
    position: absolute;
    z-index: 1;
    width: auto;
    top: 90%;
    left: 0;
    display: block;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: $mega-hover;
    @include transition(.3s);
    transition-timing-function: cubic-bezier(0.7,0,0.185,1);
    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.185,1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform: perspective(1200px) rotateX(-90deg) ;
    transform: perspective(1200px) rotateX(-90deg) ;
    color: #fff;
    li {
      display: block;
      float: none;
      >a{
          line-height: 20px;
          display: block;
          padding: 8px 15px;
          white-space: nowrap;
          color: white;
          &:hover{
            background-color: rgba(#000,.2);
            color: #fff;
          }
      }
    }
}

/* .collapse{
    position: relative;
    .collapse-heading{
        @extend .clear;
        position: relative;
        line-height: 20px;
        cursor: pointer;
        font-size: 12px;
        padding: 10px 0;
        .indicator{
            margin-left: 10px;
            display: inline-block; 
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-weight: bold;
            &:before{
                content: "\f107";
                line-height: 20px;
            }
        }
    }
    .collapse-body{
        display: none;
        position: relative;
        @extend .clear;
        padding: 10px 0;
    }
    &.on{
        .collapse-heading{
            .indicator{
                &:before{
                    content: "\f106";
                }
            }
        }
    }
} */


#header {
  width: 100%;
  z-index: 9999;
  @include transition(.3s);

  .hd-top {
    background-color: #252525;
    color: white;
    @include flex(row, space-between, center);

    .hd-top__left {
      @include flex(row, center, center);

      > * {
        padding: 15px;

        i {
          padding-right: 5px;
        }
      }

      > a {
        &:hover {
          color: $color-bg1;
        }
      }
    }

    .hd-top__right {
      @include flex(row, center, center);
      padding: 15px 0;
      .link {
        .link__item {
          padding: 0 15px;

          i {
            padding-right: 5px;
            color: $color-main;
          }

          &:hover {
            color: $color-bg1;
          }
        }

        .hover-acc {
          position: relative;

          &:hover {
            .status-wrap {
              display: block;
            }
          }

          @include auth-hover();
        }
      }

      .search {
        margin: 0 15px;
        position: relative;

        > .form-control {
          border-radius: 4px;
          height: 30px;
          width: 170px;
        }

        > span {
          position: absolute;
          font-size: 14px;
          pointer-events: none;
          color: $color-main;
          right: 10px;
          top: 5px;
        }
      }
    }
  }

  .hd-main {
    position: relative;
    background-color: $header-bg;
  
    .logo {
      background-color: white;
      position: absolute;
      left: 50%;
      top: 0%;
      width: 170px;
      height: 100px;
      transform: translate(-84px, 0);
      @include flex();

      &::after {
        content: '';
        position: absolute;
        right: -30px;
        top: 0;
        border-left: 30px solid white;
        border-bottom: 100px solid transparent;
      }
      &::before {
        content: '';
        position: absolute;
        left: -30px;
        top: 0;
        border-right: 30px solid white;
        border-bottom: 100px solid transparent;
      }
    }

    .nav-ul {
      float: left;
      list-style: none;
      padding: 2px 0;
      width: 100%; 

      .nav-right {
        float: right
      }

      > li:not(.nav-right) {
        float: left;
        display: block;
        padding: 1rem 0;

        a {
          display: block;
          text-transform: uppercase;
          padding: .5rem 1.7rem;
          border-radius: .5rem;
          color: $nav-item;
          font-size: 1.4rem;
          line-height: 3.6rem;
          font-weight: 400;

          &:hover {
            background-color: $nav-hover;
            color: $nav-item__hover;
          }
        }
        
      }
      
    }
  }
}