@charset "utf-8";
//
//VARIABLE :: BEGIN
//
$main-w : 1170;
$sp-w : 700;

$color-btn1: #29aae1;
$color-btn2: #d90027;
$color-btn3: #39b54a;

$color-main: #29aae1;

$color-bg1: #1b75bb;
$color-bg2: #252525;

$header-bg: #29aae1;
$nav-hover: rgba(black, 0.2);
$nav-item: white;
$nav-item__hover: white;
$mega-hover: darken($color-main, 10%);
$icon-bar: white;


$sub-white: #f8f8f8;

$primary-txt-color: #707070;

// $font-p: "PoppinsVN", sans-serif;
// $font-h: "Oswald VNF", sans-serif;
//
//VARIABLE :: END
//


//
//MIXIN :: BEGIN
//
@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow; // iOS <4.3 & Android <4.1
          box-shadow: $shadow;
}
@mixin coverbg() {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@mixin transition($s){
    -webkit-transition: all $s ease-in-out;
    -moz-transition: all $s ease-in-out;
    -o-transition: all $s ease-in-out;
    -ms-transition: all $s ease-in-out;
    transition: all $s ease-in-out;
}

@mixin btn-color($color) {
  background-color: $color;
  color: white;
  &:hover{
      color: white;
      background-color: darken($color, 10%);
  }
}

@mixin abso($t, $l) {
  position: absolute;
  top: $t;
  left: $l;
}

@mixin flex($dir: row, $jc: center, $al:center) {
  display: flex;
  flex-flow: $dir wrap;
  justify-content: $jc;
  align-items: $al;
} 

@mixin vert-cen() {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

@mixin fluid-type($properties, $min-vw, $max-vw, $min-value, $max-value) {
  @each $property in $properties {
    #{$property}: $min-value;
  }
  
  @media screen and (min-width: $min-vw) {
    
    @each $property in $properties {
      $value-prop: null;
      @for $i from 1 through length($min-value) {
        @if (strip-unit(nth($min-value, $i)) == 0 and strip-unit(nth($max-value, $i)) == 0) {
          $value-prop: append($value-prop, 0);
        }

        @else if (unit(nth($min-value, $i)) == 'rem') {
          $value: calc(#{nth($min-value, $i)} + #{strip-unit(nth($max-value, $i) - nth($min-value, $i)) * 10 } * (100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)});
          $value-prop: append($value-prop, $value);
        }
        @else {
          $value: calc(#{nth($min-value, $i)} + #{strip-unit(nth($max-value, $i) - nth($min-value, $i))} * (100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)});
          $value-prop: append($value-prop, $value);
        }   
      }
      #{$property}: $value-prop;
    }  
  }

  @media screen and (min-width: $max-vw) {
    @each $property in $properties {
      #{$property}: $max-value;
    }
  }
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin br($point) {
  @media screen and (max-width: $point)  { @content; }
}  

  
//
//MIXIN :: END
//

//media template
// @include media(1199px){
//    width: 970px;   
//}
//@include media(1199px){
//    width: 970px;   
//}
//@include media(991px){
//    width: 750px;   
//}
//@include media(767px){
//    width: 100%;   
//}
%clear {
    &:after{
        content:"";
        display:table;
        clear:both;
    }
    &:before{
        display: table;
        content: " ";
    }
}

//AUTH HOVER

@mixin auth-hover() {

  .status-wrap {
    display: none;
    position: absolute;
    bottom: -398px;
    right: 0;
    z-index: 1;
    
    &:hover,
    &:focus {
      display: block;
    }

    .status {
      position: relative;
      left: 0;
      top: 30px;
      width: 300px;
      font-size: 14px;
      line-height: 30px;
      font-weight: 500;
      color: black;
      background-color: white;


      header {
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        h4 {
          color: white;
          font-size: 24px;
          z-index: 1;
        }
        
        &::before {
          content: '';
          bottom: 0;
          left: 0;
          background-image: url('../images/hover-acc_03.png');
          @include coverbg();
          position: absolute;
          width: 100%;
          height: calc(100% + 23px);
        }
      }

      main {

        > *:not(.links) {
          padding: 10px 20px;
        }

        section:nth-child(odd) {
          background-color: #f8f8f8;
        }

        .level {

          .level__info {
            @include flex(row, space-between);

            .rank {
              font-weight: bold;
            }
          }

          .process {
            background: #ebebeb;
            border-radius: 12px;
            height: 20px;
            width: 100%;
            padding: 2px;
            margin: 5px 0;
            overflow: hidden;

            > span {
              display: block;
              height: 100%;
              max-width: 100%;
              border-radius: 9px;
              background-color: #3ab1c8;
              background-image: repeating-linear-gradient(
                                  -45deg,
                                  transparent 0px,  
                                  transparent 7px, 
                                  rgba(black, .1) 7px,
                                  rgba(black, .1) 9px
                                );
              background-size: 50px 50px;
              background-position: 0 0;
              overflow: hidden;
              animation: move 4s linear infinite;
              @keyframes move {
                0% {
                  background-position: 0 0;
                }
                100% {
                  background-position: 50px 50px;
                }
              }
            }
          }
        }

        .balance {
          @include flex(row, normal);

          .balance__number {
            margin-left: 10px;
            font-weight: bold;
            .vnd {
              color: #2772db;
            }

            .cny {
              color: #3ab1c8;
            }
          }
        }

        .links {
          > a {
            padding: 10px 20px;
            display: block;
            text-align: start;
            i {
              float: right;
              line-height: 2;
              color: #2772db;
            }

            &:hover {
              background-color: #2772db;
              color: white;

              > i {
                color: white;
              }
            }
          }
        }
      }

      footer {
        .btn {
          width: 100%;
          border-radius: unset;
          background-color: #ec4126;
          color: white;

          &:hover {
            background-color: darken(#ec4126, 10%);
          }
        }
      }
    }
  }
}
